{erl_opts, [debug_info]}.

{deps, [
    {hackney, "4.3.0"},
    {eWSrv, ".*", {git, "https://github.com/ErlGameWorld/eWSrv.git", {branch, "master"}}}
]}.

{escript_main_app, ali}.
{escript_name, ali}.
{escript_main_module, ali_cli}.
{escript_incl_apps, [ali]}.

{shell, [
	%% {config, "config/sys.config"},
	{apps, [ali]}
]}.


{eunit_opts, [verbose]}.
