{erl_opts, [debug_info, {i, "include"}]}.

{deps, [
	{hackney, "4.3.0"},
	{erlfmt, "1.6.2"},
	{eWSrv, ".*", {git, "http://sismaker.duckdns.org:3000/SisMaker/eWSrv.git", {branch, "master"}}},
	{jiffy, ".*", {git, "http://sismaker.duckdns.org:3000/SisMaker/jiffy.git", {branch, "master"}}}
]}.

{shell, [
	{apps, [ali]}
]}.

{eunit_opts, [verbose]}.

{relx, [
	{release, {ali, "0.1.0"}, [ali]},
	{mode, minimal},
	{include_erts, false},
	{system_libs, false},
	{include_src, false},
	{dev_mode, false},
	{extended_start_script, false}
]}.
